# üèüÔ∏è Day 3: Player Stats Analyzer ‚Äì Pandas Challenge
(Author- Rehan on my day 3 warpath) 

In this challenge, we create and manipulate a football player DataFrame using:
- Boolean filtering
- Sorting
- Lambda with `.apply()`
- Mapping with `.map()`
- Dropping columns
- Setting and resetting index

In [54]:
import pandas as pd
df = pd.DataFrame({
    'Player':  ['Cristiano', 'Messi', 'Neymar', 'Mbappe', 'Haaland'],
    'Club':    ['Al Nassr', 'Inter Miami', 'Al Hilal', 'PSG', 'Man City'],
    'Goals':   [820, 810, 400, 270, 180],
    'Retired': [True, True, False, False, False]
})
df

      Player         Club  Goals  Retired
0  Cristiano     Al Nassr    820     True
1      Messi  Inter Miami    810     True
2     Neymar     Al Hilal    400    False
3     Mbappe          PSG    270    False
4    Haaland     Man City    180    False

### Step 2 & 3: Filter non-retired and sort by goals

In [55]:
non_retired=df[df['Retired']==False]
sorting=non_retired.sort_values('Goals',ascending=False)
sorting

    Player      Club  Goals  Retired
2   Neymar  Al Hilal    400    False
3   Mbappe       PSG    270    False
4  Haaland  Man City    180    False

### Step 4: Create Tier Column with .apply()
- Legend: ‚â• 700
- Star: ‚â• 300
- Rising: < 300

In [56]:
df['Tier']=df['Goals'].apply(lambda x: "Legend" if x>=700 else "Star" if x>=300 else "Rising")
print(df)

      Player         Club  Goals  Retired    Tier
0  Cristiano     Al Nassr    820     True  Legend
1      Messi  Inter Miami    810     True  Legend
2     Neymar     Al Hilal    400    False    Star
3     Mbappe          PSG    270    False  Rising
4    Haaland     Man City    180    False  Rising

### Step 5: Map Clubs to Leagues with .map()

In [57]:
new_map={
    'Al Nassr': 'Saudi Pro League',
    'Inter Miami': 'MLS',
    'Al Hilal': 'Saudi Pro League',
    'PSG': 'Ligue 1',
    'Man City': 'Premier League'
}
df['Leagues']=df['Club'].map(new_map)
print(df)

      Player         Club  Goals  Retired    Tier           Leagues
0  Cristiano     Al Nassr    820     True  Legend  Saudi Pro League
1      Messi  Inter Miami    810     True  Legend               MLS
2     Neymar     Al Hilal    400    False    Star  Saudi Pro League
3     Mbappe          PSG    270    False  Rising           Ligue 1
4    Haaland     Man City    180    False  Rising    Premier League

### Step 6: Drop 'Retired' Column

In [63]:
df.drop('Retired', axis=1, inplace=True,errors='ignore')
df

      Player         Club  Goals    Tier           Leagues
0  Cristiano     Al Nassr    820  Legend  Saudi Pro League
1      Messi  Inter Miami    810  Legend               MLS
2     Neymar     Al Hilal    400    Star  Saudi Pro League
3     Mbappe          PSG    270  Rising           Ligue 1
4    Haaland     Man City    180  Rising    Premier League

### Step 7: Set Index and Reset it again

In [69]:
setting=df.set_index('Player', inplace=True)
resetting= df.reset_index(inplace=True)

### Step 8: Goals Summary using .describe()

In [75]:
print("The Goals column Summary is: ", df['Goals'].describe().round(2))

The Goals column Summary is:  count      5.00
mean     496.00
std      301.55
min      180.00
25%      270.00
50%      400.00
75%      810.00
max      820.00
Name: Goals, dtype: float64

### Step 9: Final Summary

Here‚Äôs a quick recap of what we learned through this challenge:

- üìå Used `.loc[]` and `.iloc[]` for row access
- üßº Filtered non-retired players using Boolean indexing
- üîΩ Sorted players by goals
- üèÜ Created a dynamic `Tier` column using `.apply()`
- üó∫Ô∏è Mapped clubs to leagues using `.map()`
- üóëÔ∏è Dropped unused columns like 'Retired'
- üìá Played with `.set_index()` and `.reset_index()`
- üìä Used `.describe()` + `.round()` for statistical insights.
(looks less boring with more emojis!)
---